    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <div back-button></div>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Properties</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <div search-button></div>
        </div>
    </div>

    <div class="topcoat-list__container scroller">

        <div ng-show="!properties" class="stuff-to-show">
            <div class="placeholder">
                <div class="spinner"></div>
            </div>
        </div>

        <ul class="topcoat-list list">
            <li ng-repeat="property in properties | filter:query | orderBy:status" class="topcoat-list__item">
                 <a ng-click="go('/properties/' + property.listing_id)">
                    <!-- use ng-src rather than src to prevent the browser trying to fetch the image before Angular has interpolated the value  -->
                    <img ng-src="{{property.thumbnail_url}}" alt="" class="circle"/>
                    <p>{{property.displayable_address}}</p>
                    <p>{{property.num_bedrooms ? property.num_bedrooms + ' bed' : '' }}, {{property.price | currency:"£"}}</p>
                    <span class="next"></span>
                </a>
            </li>
        </ul>
    </div>